* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    font-family: 'Lekton', cursive;
    display: grid;
    grid-template-columns: 250px 4fr 1fr; 
    height: 100vh;
    background-color: #f3e7c7;  
}

/*---------------------------Aside Styles---------------------------*/

aside {
    background-color: #e7c9a9;
    display: grid;
    grid-template-rows: 2fr 1fr 5fr;
}

#score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

#failures-text {
    padding-left: 5%;
}

#failures-badges {
    display: flex;
    justify-content: space-around;
}

#state-board {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 80%;
    height: 80%;
}

td {
    border: 1px solid black; 
    width: 25%;
    height: 8%;
}

td p {
    margin: 0;
    display: flex;
    justify-content: center;
}

/*---------------------------Main Styles---------------------------*/

main {
    color: #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.card {
    width: 35%;
    height: 450px;
}

/*---------------------------Reset Bar Styles---------------------------*/

#reset-bar {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

#reset-board {
    display: flex;
    justify-content: center;
    align-items: center;
}

#stain-board {
    background-color: red;
}

img {
    height: 200px;
    width: 200px;
}